/* ============================================
   ESTILOS ADMINISTRAR CATEGORÍAS
   ============================================ */

/* Muestra la pestaña del input que está marcado */
#pestaña-listaCategorias:checked ~ .centro-pagina-gestion #contenido-listaCategorias,
#pestaña-agregarCategorias:checked ~ .centro-pagina-gestion #contenido-agregarCategorias,
#pestaña-editarCategorias:checked ~ .centro-pagina-gestion #contenido-editarCategorias {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Resalta visualmente el label de la pestaña activa. */
#pestaña-listaCategorias:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-listaCategorias"],
#pestaña-agregarCategorias:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-agregarCategorias"],
#pestaña-editarCagetorias:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-editarCategorias"]{
    color: var(--texto-principal);
    border-bottom: 2px solid var(--color-rol);
    background-color: var(--color-rol);
}