
.pestaña-contenido {
    display: none;
}

#pestaña-salida:checked ~ .centro-pagina-gestion #contenido-salida,
#pestaña-ingreso:checked ~ .centro-pagina-gestion #contenido-ingreso,
#pestaña-historial:checked ~ .centro-pagina-gestion #contenido-historial {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* PESTAÑAS */

.pestañas {
    display: flex;
    gap: 0;
    border-bottom: 2px solid var(--color-borde);
    margin-bottom: 0;
}

.pestaña {
    padding: 10px 24px;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--texto-secundario);
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    transition: color 0.2s, border-color 0.2s;
    font-family: var(--fuente-principal);
    letter-spacing: 0.01em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pestaña:hover {
    color: var(--texto-principal);
    background-color: var(--color-rol);
}

/* Pestaña activa según radio seleccionado */
#pestaña-salida:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-salida"],
#pestaña-ingreso:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-ingreso"],
#pestaña-historial:checked ~ .centro-pagina-gestion .pestañas label[for="pestaña-historial"] {
    color: var(--texto-principal);
    border-bottom: 2px solid var(--color-rol);
    background-color: var(--color-rol);
}
/* ===== TABLA ===== */

.tabla {
    width: 100%;
    border-collapse: collapse;
    background: var(--color-superficie);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* TIPO  */
.tipo-ingreso {
    background: var(--color-ingreso);
    color: var(--color-ingreso-fondo);
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 800;
}

.tipo-salida {
    background: var(--color-salida);
    color: var(--color-salida-fondo);
    padding: 3px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 800;
}

/* BUSCADOR */
.buscador-boton {
    display: flex;
    gap: 12px;
    align-items: center;
}

.btn-primario{
    width: 25%;
}

.buscador-boton .form-control {
    flex: 1;
}

.form-textarea{
    margin-top: 20px;
}

/* BOTÓN ELEGIR */
.btn-elegir {
    font-size: 0.8rem;
}