/* ============================================
   ESTILOS ADMINISTRAR USUARIOS
   ============================================ */

.form-control{
    width: 25%;
}

/* ROLES */
.rol {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 800;
}

.admin {
    background: var(--color-rol-suave);
    color:  var(--color-rol);
    font-weight: 800;
}

.usuario {
    background: #8a5a07;
    color: #ffd182;
}

/* ESTADOS */
.estado {
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 800;
}

.activo {
    background: var(--color-ingreso-fondo);
    color:  var(--color-ingreso);
}

.suspendido {
    background: #2e2d2e;
    color: #b0b0b0;
}

.bloqueado {
    background: var(--color-salida);
    color: var(--color-salida-fondo);
}

#btn-editar{
    padding: 4px 20px;
    
}

#btn-eliminar{
    padding: 4px 12px;
}